<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    <div id="svgstore">
      <!-- htmlmin:ignore -->
<!-- svgstore:svg --><!-- endinject -->
      <!-- htmlmin:ignore -->
    </div>

    <div id="app">
      <svg class="container-me">
        <use xlink:href="#me" />
      </svg>
      <svg class="container-water-drop">
        <use xlink:href="#water-drop" />
      </svg>
      <svg class="container-glasses">
        <use xlink:href="#glasses" />
      </svg>
      <svg class="container-scooter">
        <use xlink:href="#scooter" />
      </svg>
      <svg class="container-extinguisher">
        <use xlink:href="#extinguisher" />
      </svg>
      <svg class="container-stream">
        <use xlink:href="#stream" />
      </svg>
      <svg class="container-fire-preloader">
        <use xlink:href="#fire-preloader" />
      </svg>
      <svg class="container-cloud-1">
        <use xlink:href="#cloud" />
      </svg>
      <svg class="container-cloud-2">
        <use xlink:href="#cloud" />
      </svg>
      <span id="play-intro">Play</span>
      <span id="skip-intro">Skip</span>
    </div>

    {% include feet.html %}

  </body>

</html>
