@charset "utf-8";

@import "vendor/normalize.css/normalize.css";

html,
body {
  width: 100%;
  height: 100%;
}

#app {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 80%;
}

#app > .fire-preloader {
  display: inline-block;
  width: 100%;
  margin: 0 auto;
}

#development {
  display: inline-block;
  font-family: 'Roboto', sans-serif;
  font-size: 40px;
  width: 100%;
  text-align: center;
}
